.navbar {
  width: calc(100%);
  background-color: #4b6f80;
  color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  position: sticky;
  top: 0;

}


.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-title {
  margin: 0;
  font-size: 1.5rem;
}

.mode-button {
  padding: 8px 16px;
  background-color: #ffffff;
  border: none;
  color: rgb(148, 31, 31);
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.mode-button:hover {
  background-color: #eacecc;
}

/* 🔽 Parte inferior */
.navbar-bottom {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 12px 0;
}

.navbar-bottom a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.3s;
}

.navbar-bottom a:hover {
  color: #e74c3c;
}